aiohttp-cors==0.7.0
colorful==0.5.5
flwr==1.1.0
fqdn==1.5.1
gpustat==1.0.0
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
matplotlib==3.6.2
opencensus==0.11.0
py-spy==0.3.14
pydantic==1.10.4
ray==2.0.1
smart-open==6.3.0
torchaudio==0.13.1
torchvision==0.14.1
uri-template==1.2.0
webcolors==1.12
wincertstore==0.2
